<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

</head>
<style>
    .header {
        margin:20px 0;
        border-style: solid;
        border-color: #ddd;
        border-width: 0 0 2px;
    }
    .header img {
        float: left;
        margin: 10px 0;
    }
    .body-column {
        margin:20px 0;
        border-style: solid;
        border-color: #ddd;
        border-width: 0 0 0 2px;
    }
    .nav {
        margin-top:10px;
    }
    .nav a.nav-header {
        color:#000;
        font-weight: bold;
    }
    .nav a {
        color: #A13227;
    }
    .nav a.nav-disabled {
        color: #ddd;
    }

    .tile-row {
        margin-bottom: 20px;
    }
    .tile {
        border: 2px solid #1fa0e4;
        border-radius: 25px;
        height: 180px;
        color: rgb(92, 92, 97);
    }
    .tile h4 {
        text-align: center;
        font-size:22px;
        margin:14px 0;
        color: #ffbb44;
    }
    .tile .tile-label {
        font-size:20px;
        text-align: center;
        float:left;
        width:100%;
    }

    .tile .tile-label-small {
        font-size:20px;
        text-align: center;
        float:left;
        width:100%;
    }
    .tile .tile-number {
        font-size:46px;
        text-align: center;
        float:left;
        width:100%;
    }

    label {
        margin-left:10px;
    }
    .yellow {
        color: #ffbb44;
    }
</style>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-12 header">
      <h1>District 187 Dashboard - District View</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 nav-column">
      <%= render 'layouts/navigation_evan_3' %>
    </div>
    <div class="col-sm-9 body-column">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
