<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<style>
    .header {
        margin:20px 0;
        border-style: solid;
        border-color: #ddd;
        border-width: 0 0 2px;
    }
    .header img {
        float: left;
        margin: 10px 0;
    }
    .body-column {
        margin:20px 0;
        border-style: solid;
        border-color: #ddd;
        border-width: 0 0 0 2px;
    }
    .nav {
        margin-top:10px;


    }
    .nav a.nav-header {
        color:#000;
        font-weight: bold;
    }
    .nav a {
        color: #A13227;
    }
    .nav a.nav-disabled {
        color: #ddd;
    }
</style>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-12 header">
      <h1>District 187 Dashboard - District View</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 nav-column">
      <%= render 'layouts/navigation_evan_2' %>
    </div>
    <div class="col-sm-10 body-column">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
